Mibfa.OCR.Service.Library/Web References/wsLogService/LogService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://oculus10.Logging.WebService/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://oculus10.Logging.WebService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://oculus10.Logging.WebService/">
      <s:element name="WriteLogEntry">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="application" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="method" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="entryType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WriteLogEntryResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="WriteLogEntrySoapIn">
    <wsdl:part name="parameters" element="tns:WriteLogEntry" />
  </wsdl:message>
  <wsdl:message name="WriteLogEntrySoapOut">
    <wsdl:part name="parameters" element="tns:WriteLogEntryResponse" />
  </wsdl:message>
  <wsdl:portType name="LogServiceSoap">
    <wsdl:operation name="WriteLogEntry">
      <wsdl:input message="tns:WriteLogEntrySoapIn" />
      <wsdl:output message="tns:WriteLogEntrySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LogServiceSoap" type="tns:LogServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WriteLogEntry">
      <soap:operation soapAction="http://oculus10.Logging.WebService/WriteLogEntry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LogServiceSoap12" type="tns:LogServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WriteLogEntry">
      <soap12:operation soapAction="http://oculus10.Logging.WebService/WriteLogEntry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LogService">
    <wsdl:port name="LogServiceSoap" binding="tns:LogServiceSoap">
      <soap:address location="https://oculus.mibfa.co.za/OculusLogging/LogService.asmx" />
    </wsdl:port>
    <wsdl:port name="LogServiceSoap12" binding="tns:LogServiceSoap12">
      <soap12:address location="https://oculus.mibfa.co.za/OculusLogging/LogService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>