Mibfa.OCR.Service.Library/Web References/wsLaunch/Launch.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:tns="https://www.gijima.com/Oculus" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="https://www.gijima.com/Oculus" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Contains methods for launching documents</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://www.gijima.com/Oculus">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="LaunchDocument">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sessionId" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="documentXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LaunchDocumentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LaunchDocumentResult" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LaunchDocumentWithProcess">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sessionId" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="documentXml" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="processXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LaunchDocumentWithProcessResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LaunchDocumentWithProcessResult" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LaunchDocumentWithProcessId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sessionId" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="documentXml" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="processId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LaunchDocumentWithProcessIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LaunchDocumentWithProcessIdResult" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessFragment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sessionId" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="documentUniqueId" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="fragmentXml" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fragmentData" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessFragmentResponse">
        <s:complexType />
      </s:element>
      <s:element name="CompleteLaunch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sessionId" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="documentUniqueId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CompleteLaunchResponse">
        <s:complexType />
      </s:element>
      <s:element name="CancelLaunch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sessionId" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="documentUniqueId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelLaunchResponse">
        <s:complexType />
      </s:element>
      <s:element name="UploadDocuments">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="profileID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="profileContextID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="processID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="documentFiles" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="documentFileNames" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="documentFileNameIndexes" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="UploadDocumentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadDocumentsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LaunchDocumentSoapIn">
    <wsdl:part name="parameters" element="tns:LaunchDocument" />
  </wsdl:message>
  <wsdl:message name="LaunchDocumentSoapOut">
    <wsdl:part name="parameters" element="tns:LaunchDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="LaunchDocumentWithProcessSoapIn">
    <wsdl:part name="parameters" element="tns:LaunchDocumentWithProcess" />
  </wsdl:message>
  <wsdl:message name="LaunchDocumentWithProcessSoapOut">
    <wsdl:part name="parameters" element="tns:LaunchDocumentWithProcessResponse" />
  </wsdl:message>
  <wsdl:message name="LaunchDocumentWithProcessIdSoapIn">
    <wsdl:part name="parameters" element="tns:LaunchDocumentWithProcessId" />
  </wsdl:message>
  <wsdl:message name="LaunchDocumentWithProcessIdSoapOut">
    <wsdl:part name="parameters" element="tns:LaunchDocumentWithProcessIdResponse" />
  </wsdl:message>
  <wsdl:message name="ProcessFragmentSoapIn">
    <wsdl:part name="parameters" element="tns:ProcessFragment" />
  </wsdl:message>
  <wsdl:message name="ProcessFragmentSoapOut">
    <wsdl:part name="parameters" element="tns:ProcessFragmentResponse" />
  </wsdl:message>
  <wsdl:message name="CompleteLaunchSoapIn">
    <wsdl:part name="parameters" element="tns:CompleteLaunch" />
  </wsdl:message>
  <wsdl:message name="CompleteLaunchSoapOut">
    <wsdl:part name="parameters" element="tns:CompleteLaunchResponse" />
  </wsdl:message>
  <wsdl:message name="CancelLaunchSoapIn">
    <wsdl:part name="parameters" element="tns:CancelLaunch" />
  </wsdl:message>
  <wsdl:message name="CancelLaunchSoapOut">
    <wsdl:part name="parameters" element="tns:CancelLaunchResponse" />
  </wsdl:message>
  <wsdl:message name="UploadDocumentsSoapIn">
    <wsdl:part name="parameters" element="tns:UploadDocuments" />
  </wsdl:message>
  <wsdl:message name="UploadDocumentsSoapOut">
    <wsdl:part name="parameters" element="tns:UploadDocumentsResponse" />
  </wsdl:message>
  <wsdl:portType name="LaunchSoap">
    <wsdl:operation name="LaunchDocument">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Launch a document into the system, the document xml must contain a complete acquisition process. The document unique id is returned.</wsdl:documentation>
      <wsdl:input message="tns:LaunchDocumentSoapIn" />
      <wsdl:output message="tns:LaunchDocumentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LaunchDocumentWithProcess">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Launch a document into the system, with the specified process. The document unique id is returned.</wsdl:documentation>
      <wsdl:input message="tns:LaunchDocumentWithProcessSoapIn" />
      <wsdl:output message="tns:LaunchDocumentWithProcessSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LaunchDocumentWithProcessId">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Launch a document into the system, against the specified process id. The document unique id is returned.</wsdl:documentation>
      <wsdl:input message="tns:LaunchDocumentWithProcessIdSoapIn" />
      <wsdl:output message="tns:LaunchDocumentWithProcessIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProcessFragment">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add a fragment to the system, against the specified document unique id.</wsdl:documentation>
      <wsdl:input message="tns:ProcessFragmentSoapIn" />
      <wsdl:output message="tns:ProcessFragmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CompleteLaunch">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Completes the launch of a document, against the specified document unique id.</wsdl:documentation>
      <wsdl:input message="tns:CompleteLaunchSoapIn" />
      <wsdl:output message="tns:CompleteLaunchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelLaunch">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Cancels the launch of a document, against the specified document unique id, removing all associated data.</wsdl:documentation>
      <wsdl:input message="tns:CancelLaunchSoapIn" />
      <wsdl:output message="tns:CancelLaunchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadDocuments">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Launch 1 or more document into the system.</wsdl:documentation>
      <wsdl:input message="tns:UploadDocumentsSoapIn" />
      <wsdl:output message="tns:UploadDocumentsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LaunchSoap" type="tns:LaunchSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LaunchDocument">
      <soap:operation soapAction="https://www.gijima.com/Oculus/LaunchDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LaunchDocumentWithProcess">
      <soap:operation soapAction="https://www.gijima.com/Oculus/LaunchDocumentWithProcess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LaunchDocumentWithProcessId">
      <soap:operation soapAction="https://www.gijima.com/Oculus/LaunchDocumentWithProcessId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessFragment">
      <soap:operation soapAction="https://www.gijima.com/Oculus/ProcessFragment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompleteLaunch">
      <soap:operation soapAction="https://www.gijima.com/Oculus/CompleteLaunch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelLaunch">
      <soap:operation soapAction="https://www.gijima.com/Oculus/CancelLaunch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadDocuments">
      <soap:operation soapAction="https://www.gijima.com/Oculus/UploadDocuments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LaunchSoap12" type="tns:LaunchSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LaunchDocument">
      <soap12:operation soapAction="https://www.gijima.com/Oculus/LaunchDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LaunchDocumentWithProcess">
      <soap12:operation soapAction="https://www.gijima.com/Oculus/LaunchDocumentWithProcess" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LaunchDocumentWithProcessId">
      <soap12:operation soapAction="https://www.gijima.com/Oculus/LaunchDocumentWithProcessId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessFragment">
      <soap12:operation soapAction="https://www.gijima.com/Oculus/ProcessFragment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompleteLaunch">
      <soap12:operation soapAction="https://www.gijima.com/Oculus/CompleteLaunch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelLaunch">
      <soap12:operation soapAction="https://www.gijima.com/Oculus/CancelLaunch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadDocuments">
      <soap12:operation soapAction="https://www.gijima.com/Oculus/UploadDocuments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Launch">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Contains methods for launching documents</wsdl:documentation>
    <wsdl:port name="LaunchSoap" binding="tns:LaunchSoap">
      <soap:address location="https://oculus.mibfa.co.za/Oculus/Services/Launch.asmx" />
    </wsdl:port>
    <wsdl:port name="LaunchSoap12" binding="tns:LaunchSoap12">
      <soap12:address location="https://oculus.mibfa.co.za/Oculus/Services/Launch.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>