Mibfa.OCR.Service.Library/Web References/wsQueue/Queue.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:tns="https://www.gijima.com/Oculus" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="https://www.gijima.com/Oculus" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Contains methods for accessing queues</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://www.gijima.com/Oculus">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="GetAvailableQueues">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAvailableQueuesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAvailableQueuesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetQueueTotalCount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="queueName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetQueueTotalCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetQueueTotalCountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestDocument">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sessionId" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="queueName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestDocumentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="transactionId" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="documentXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessDocument">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sessionId" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="transactionId" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="documentXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessDocumentResponse">
        <s:complexType />
      </s:element>
      <s:element name="CompleteDocument">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sessionId" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="transactionId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CompleteDocumentResponse">
        <s:complexType />
      </s:element>
      <s:element name="CancelRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sessionId" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="transactionId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelRequestResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetNextWebDocumentFromQueue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="queueName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="singleUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="hasDocument" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNextWebDocumentFromQueueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetNextWebDocumentFromQueueResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CompleteWebDocument">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="uniqueId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CompleteWebDocumentResponse">
        <s:complexType />
      </s:element>
      <s:element name="CancelWebRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="uniqueId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="singleUser" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelWebRequestResponse">
        <s:complexType />
      </s:element>
      <s:element name="ProcessWebDocument">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="uniqueId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="documentXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessWebDocumentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProcessWebDocumentResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteWebDocument">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="documentUniqueId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteWebDocumentResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteDocument">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sessionId" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="documentUniqueId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteDocumentResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteFragment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sessionId" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="fragmentUniqueId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteFragmentResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetDocument">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sessionId" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="documentUniqueId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocumentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDocumentResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFragment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sessionId" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="fragmentUniqueId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFragmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fragmentXml" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="documentUniqueId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFragments">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sessionId" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="documentUniqueId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFragmentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fragmentXmls" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="fragmentIds" type="tns:ArrayOfGuid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfGuid">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="guid" type="s1:guid" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetFragmentData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sessionId" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="fragmentUniqueId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFragmentDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFragmentDataResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestDocumentFull">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sessionId" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="queueName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestDocumentFullResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="outTransactionId" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="outDocumentXml" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="outStorageDocument" type="tns:Document" />
            <s:element minOccurs="0" maxOccurs="1" name="outProfileIndexes" type="tns:ArrayOfProfileIndex" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Document">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Metadata" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SystemMoniker" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Indexes" type="tns:ArrayOfIndex" />
          <s:element minOccurs="0" maxOccurs="1" name="Fragments" type="tns:ArrayOfFragment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfIndex">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Index" nillable="true" type="tns:Index" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Index">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfFragment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Fragment" nillable="true" type="tns:Fragment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Fragment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SystemMoniker" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DocumentMoniker" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataLocationMoniker" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Filename" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsImage" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfProfileIndex">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ProfileIndex" nillable="true" type="tns:ProfileIndex" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ProfileIndex">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Type" type="tns:IndexType" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Length" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Custom" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IndexBehaviour" type="tns:IndexBehaviour" />
          <s:element minOccurs="1" maxOccurs="1" name="IndexAttribute" type="tns:IndexAttribute" />
          <s:element minOccurs="0" maxOccurs="1" name="ListItems" type="tns:ArrayOfProfileIndexListItem" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="IndexType">
        <s:restriction base="s:string">
          <s:enumeration value="AlphaNumeric" />
          <s:enumeration value="Boolean" />
          <s:enumeration value="Currency" />
          <s:enumeration value="Date" />
          <s:enumeration value="DateTime" />
          <s:enumeration value="List" />
          <s:enumeration value="Numeric" />
          <s:enumeration value="RegularExpression" />
          <s:enumeration value="Text" />
          <s:enumeration value="Time" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="IndexBehaviour">
        <s:restriction base="s:string">
          <s:enumeration value="Normal" />
          <s:enumeration value="WriteOnce" />
          <s:enumeration value="ReadOnly" />
          <s:enumeration value="Hidden" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="IndexAttribute">
        <s:list>
          <s:simpleType>
            <s:restriction base="s:string">
              <s:enumeration value="None" />
              <s:enumeration value="Searchable" />
              <s:enumeration value="Mandatory" />
              <s:enumeration value="Barcode" />
              <s:enumeration value="Dynamic" />
            </s:restriction>
          </s:simpleType>
        </s:list>
      </s:simpleType>
      <s:complexType name="ArrayOfProfileIndexListItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ProfileIndexListItem" nillable="true" type="tns:ProfileIndexListItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ProfileIndexListItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ValidateDocument">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sessionId" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="inputIndexes" type="tns:ArrayOfIndex" />
            <s:element minOccurs="0" maxOccurs="1" name="profileIndexes" type="tns:ArrayOfProfileIndex" />
            <s:element minOccurs="0" maxOccurs="1" name="documentXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateDocumentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="outErrors" type="tns:ArrayOfIndexingError" />
            <s:element minOccurs="0" maxOccurs="1" name="outIndexes" type="tns:ArrayOfIndex" />
            <s:element minOccurs="0" maxOccurs="1" name="outProfileIndexes" type="tns:ArrayOfProfileIndex" />
            <s:element minOccurs="0" maxOccurs="1" name="outDocumentXml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfIndexingError">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="IndexingError" nillable="true" type="tns:IndexingError" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="IndexingError">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="IndexName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ProcessIndexingEvent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sessionId" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="args" type="tns:IndexEventArgs" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="IndexEventArgs">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ProfileIndexes" type="tns:ArrayOfProfileIndex" />
          <s:element minOccurs="1" maxOccurs="1" name="IndexEvent" type="tns:IndexEvent" />
          <s:element minOccurs="0" maxOccurs="1" name="Index" type="tns:ProfileIndex" />
          <s:element minOccurs="0" maxOccurs="1" name="IndexValues" type="tns:ArrayOfIndex" />
          <s:element minOccurs="0" maxOccurs="1" name="DocumentXml" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="IndexEvent">
        <s:restriction base="s:string">
          <s:enumeration value="ValueChange" />
        </s:restriction>
      </s:simpleType>
      <s:element name="ProcessIndexingEventResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="outArgs" type="tns:IndexEventArgs" />
            <s:element minOccurs="0" maxOccurs="1" name="outResponse" type="tns:IndexEventResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="IndexEventResponse" />
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAvailableQueuesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAvailableQueues" />
  </wsdl:message>
  <wsdl:message name="GetAvailableQueuesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAvailableQueuesResponse" />
  </wsdl:message>
  <wsdl:message name="GetQueueTotalCountSoapIn">
    <wsdl:part name="parameters" element="tns:GetQueueTotalCount" />
  </wsdl:message>
  <wsdl:message name="GetQueueTotalCountSoapOut">
    <wsdl:part name="parameters" element="tns:GetQueueTotalCountResponse" />
  </wsdl:message>
  <wsdl:message name="RequestDocumentSoapIn">
    <wsdl:part name="parameters" element="tns:RequestDocument" />
  </wsdl:message>
  <wsdl:message name="RequestDocumentSoapOut">
    <wsdl:part name="parameters" element="tns:RequestDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="ProcessDocumentSoapIn">
    <wsdl:part name="parameters" element="tns:ProcessDocument" />
  </wsdl:message>
  <wsdl:message name="ProcessDocumentSoapOut">
    <wsdl:part name="parameters" element="tns:ProcessDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="CompleteDocumentSoapIn">
    <wsdl:part name="parameters" element="tns:CompleteDocument" />
  </wsdl:message>
  <wsdl:message name="CompleteDocumentSoapOut">
    <wsdl:part name="parameters" element="tns:CompleteDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="CancelRequestSoapIn">
    <wsdl:part name="parameters" element="tns:CancelRequest" />
  </wsdl:message>
  <wsdl:message name="CancelRequestSoapOut">
    <wsdl:part name="parameters" element="tns:CancelRequestResponse" />
  </wsdl:message>
  <wsdl:message name="GetNextWebDocumentFromQueueSoapIn">
    <wsdl:part name="parameters" element="tns:GetNextWebDocumentFromQueue" />
  </wsdl:message>
  <wsdl:message name="GetNextWebDocumentFromQueueSoapOut">
    <wsdl:part name="parameters" element="tns:GetNextWebDocumentFromQueueResponse" />
  </wsdl:message>
  <wsdl:message name="CompleteWebDocumentSoapIn">
    <wsdl:part name="parameters" element="tns:CompleteWebDocument" />
  </wsdl:message>
  <wsdl:message name="CompleteWebDocumentSoapOut">
    <wsdl:part name="parameters" element="tns:CompleteWebDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="CancelWebRequestSoapIn">
    <wsdl:part name="parameters" element="tns:CancelWebRequest" />
  </wsdl:message>
  <wsdl:message name="CancelWebRequestSoapOut">
    <wsdl:part name="parameters" element="tns:CancelWebRequestResponse" />
  </wsdl:message>
  <wsdl:message name="ProcessWebDocumentSoapIn">
    <wsdl:part name="parameters" element="tns:ProcessWebDocument" />
  </wsdl:message>
  <wsdl:message name="ProcessWebDocumentSoapOut">
    <wsdl:part name="parameters" element="tns:ProcessWebDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteWebDocumentSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteWebDocument" />
  </wsdl:message>
  <wsdl:message name="DeleteWebDocumentSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteWebDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteDocumentSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteDocument" />
  </wsdl:message>
  <wsdl:message name="DeleteDocumentSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteFragmentSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteFragment" />
  </wsdl:message>
  <wsdl:message name="DeleteFragmentSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteFragmentResponse" />
  </wsdl:message>
  <wsdl:message name="GetDocumentSoapIn">
    <wsdl:part name="parameters" element="tns:GetDocument" />
  </wsdl:message>
  <wsdl:message name="GetDocumentSoapOut">
    <wsdl:part name="parameters" element="tns:GetDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="GetFragmentSoapIn">
    <wsdl:part name="parameters" element="tns:GetFragment" />
  </wsdl:message>
  <wsdl:message name="GetFragmentSoapOut">
    <wsdl:part name="parameters" element="tns:GetFragmentResponse" />
  </wsdl:message>
  <wsdl:message name="GetFragmentsSoapIn">
    <wsdl:part name="parameters" element="tns:GetFragments" />
  </wsdl:message>
  <wsdl:message name="GetFragmentsSoapOut">
    <wsdl:part name="parameters" element="tns:GetFragmentsResponse" />
  </wsdl:message>
  <wsdl:message name="GetFragmentDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetFragmentData" />
  </wsdl:message>
  <wsdl:message name="GetFragmentDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetFragmentDataResponse" />
  </wsdl:message>
  <wsdl:message name="RequestDocumentFullSoapIn">
    <wsdl:part name="parameters" element="tns:RequestDocumentFull" />
  </wsdl:message>
  <wsdl:message name="RequestDocumentFullSoapOut">
    <wsdl:part name="parameters" element="tns:RequestDocumentFullResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateDocumentSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateDocument" />
  </wsdl:message>
  <wsdl:message name="ValidateDocumentSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="ProcessIndexingEventSoapIn">
    <wsdl:part name="parameters" element="tns:ProcessIndexingEvent" />
  </wsdl:message>
  <wsdl:message name="ProcessIndexingEventSoapOut">
    <wsdl:part name="parameters" element="tns:ProcessIndexingEventResponse" />
  </wsdl:message>
  <wsdl:portType name="QueueSoap">
    <wsdl:operation name="GetAvailableQueues">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrieves the queues available to the user's group(s)</wsdl:documentation>
      <wsdl:input message="tns:GetAvailableQueuesSoapIn" />
      <wsdl:output message="tns:GetAvailableQueuesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetQueueTotalCount">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the number of documents in the queue, please note the queue name is not validated.</wsdl:documentation>
      <wsdl:input message="tns:GetQueueTotalCountSoapIn" />
      <wsdl:output message="tns:GetQueueTotalCountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RequestDocument">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Requests a document from the specified queue, returns a transaction id for later operations and the document's xml.</wsdl:documentation>
      <wsdl:input message="tns:RequestDocumentSoapIn" />
      <wsdl:output message="tns:RequestDocumentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProcessDocument">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Use the updated document xml for the queue item.</wsdl:documentation>
      <wsdl:input message="tns:ProcessDocumentSoapIn" />
      <wsdl:output message="tns:ProcessDocumentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CompleteDocument">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Indicates the queued document has been completed, ProcessDocument should be called first, but this is not verified.</wsdl:documentation>
      <wsdl:input message="tns:CompleteDocumentSoapIn" />
      <wsdl:output message="tns:CompleteDocumentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelRequest">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Indicates the document should be deallocated and returned to the queue</wsdl:documentation>
      <wsdl:input message="tns:CancelRequestSoapIn" />
      <wsdl:output message="tns:CancelRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNextWebDocumentFromQueue">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrieves the next document for the specified queue</wsdl:documentation>
      <wsdl:input message="tns:GetNextWebDocumentFromQueueSoapIn" />
      <wsdl:output message="tns:GetNextWebDocumentFromQueueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CompleteWebDocument">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Indicates the queued document has been completed, ProcessDocument should be called first, but this is not verified.</wsdl:documentation>
      <wsdl:input message="tns:CompleteWebDocumentSoapIn" />
      <wsdl:output message="tns:CompleteWebDocumentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelWebRequest">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Indicates the document should be deallocated and returned to the queue</wsdl:documentation>
      <wsdl:input message="tns:CancelWebRequestSoapIn" />
      <wsdl:output message="tns:CancelWebRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProcessWebDocument">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Use the updated document xml for the queue item.</wsdl:documentation>
      <wsdl:input message="tns:ProcessWebDocumentSoapIn" />
      <wsdl:output message="tns:ProcessWebDocumentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteWebDocument">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Deletes the document associated with the document unique id</wsdl:documentation>
      <wsdl:input message="tns:DeleteWebDocumentSoapIn" />
      <wsdl:output message="tns:DeleteWebDocumentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDocument">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Deletes the document associated with the document unique id</wsdl:documentation>
      <wsdl:input message="tns:DeleteDocumentSoapIn" />
      <wsdl:output message="tns:DeleteDocumentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFragment">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Deletes the specified fragment, the id must be the INTERNAL id, as specified in the fragment xml</wsdl:documentation>
      <wsdl:input message="tns:DeleteFragmentSoapIn" />
      <wsdl:output message="tns:DeleteFragmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDocument">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get the document xml associated with the document</wsdl:documentation>
      <wsdl:input message="tns:GetDocumentSoapIn" />
      <wsdl:output message="tns:GetDocumentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFragment">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get the fragment xml associated with the document</wsdl:documentation>
      <wsdl:input message="tns:GetFragmentSoapIn" />
      <wsdl:output message="tns:GetFragmentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFragments">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get all fragment xmls and unique ids associated with the document</wsdl:documentation>
      <wsdl:input message="tns:GetFragmentsSoapIn" />
      <wsdl:output message="tns:GetFragmentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFragmentData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get the bytes for the fragment</wsdl:documentation>
      <wsdl:input message="tns:GetFragmentDataSoapIn" />
      <wsdl:output message="tns:GetFragmentDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RequestDocumentFull">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Requests a document from the specified queue, returns a transaction id for later operations and the document's xml.</wsdl:documentation>
      <wsdl:input message="tns:RequestDocumentFullSoapIn" />
      <wsdl:output message="tns:RequestDocumentFullSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateDocument">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Performs server-side validation of the document.</wsdl:documentation>
      <wsdl:input message="tns:ValidateDocumentSoapIn" />
      <wsdl:output message="tns:ValidateDocumentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProcessIndexingEvent">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Performs server-side processing of the index event.</wsdl:documentation>
      <wsdl:input message="tns:ProcessIndexingEventSoapIn" />
      <wsdl:output message="tns:ProcessIndexingEventSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="QueueSoap" type="tns:QueueSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAvailableQueues">
      <soap:operation soapAction="https://www.gijima.com/Oculus/GetAvailableQueues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQueueTotalCount">
      <soap:operation soapAction="https://www.gijima.com/Oculus/GetQueueTotalCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestDocument">
      <soap:operation soapAction="https://www.gijima.com/Oculus/RequestDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessDocument">
      <soap:operation soapAction="https://www.gijima.com/Oculus/ProcessDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompleteDocument">
      <soap:operation soapAction="https://www.gijima.com/Oculus/CompleteDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelRequest">
      <soap:operation soapAction="https://www.gijima.com/Oculus/CancelRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNextWebDocumentFromQueue">
      <soap:operation soapAction="https://www.gijima.com/Oculus/GetNextWebDocumentFromQueue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompleteWebDocument">
      <soap:operation soapAction="https://www.gijima.com/Oculus/CompleteWebDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelWebRequest">
      <soap:operation soapAction="https://www.gijima.com/Oculus/CancelWebRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessWebDocument">
      <soap:operation soapAction="https://www.gijima.com/Oculus/ProcessWebDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteWebDocument">
      <soap:operation soapAction="https://www.gijima.com/Oculus/DeleteWebDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDocument">
      <soap:operation soapAction="https://www.gijima.com/Oculus/DeleteDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFragment">
      <soap:operation soapAction="https://www.gijima.com/Oculus/DeleteFragment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocument">
      <soap:operation soapAction="https://www.gijima.com/Oculus/GetDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFragment">
      <soap:operation soapAction="https://www.gijima.com/Oculus/GetFragment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFragments">
      <soap:operation soapAction="https://www.gijima.com/Oculus/GetFragments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFragmentData">
      <soap:operation soapAction="https://www.gijima.com/Oculus/GetFragmentData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestDocumentFull">
      <soap:operation soapAction="https://www.gijima.com/Oculus/RequestDocumentFull" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateDocument">
      <soap:operation soapAction="https://www.gijima.com/Oculus/ValidateDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessIndexingEvent">
      <soap:operation soapAction="https://www.gijima.com/Oculus/ProcessIndexingEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="QueueSoap12" type="tns:QueueSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAvailableQueues">
      <soap12:operation soapAction="https://www.gijima.com/Oculus/GetAvailableQueues" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQueueTotalCount">
      <soap12:operation soapAction="https://www.gijima.com/Oculus/GetQueueTotalCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestDocument">
      <soap12:operation soapAction="https://www.gijima.com/Oculus/RequestDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessDocument">
      <soap12:operation soapAction="https://www.gijima.com/Oculus/ProcessDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompleteDocument">
      <soap12:operation soapAction="https://www.gijima.com/Oculus/CompleteDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelRequest">
      <soap12:operation soapAction="https://www.gijima.com/Oculus/CancelRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNextWebDocumentFromQueue">
      <soap12:operation soapAction="https://www.gijima.com/Oculus/GetNextWebDocumentFromQueue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompleteWebDocument">
      <soap12:operation soapAction="https://www.gijima.com/Oculus/CompleteWebDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelWebRequest">
      <soap12:operation soapAction="https://www.gijima.com/Oculus/CancelWebRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessWebDocument">
      <soap12:operation soapAction="https://www.gijima.com/Oculus/ProcessWebDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteWebDocument">
      <soap12:operation soapAction="https://www.gijima.com/Oculus/DeleteWebDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDocument">
      <soap12:operation soapAction="https://www.gijima.com/Oculus/DeleteDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFragment">
      <soap12:operation soapAction="https://www.gijima.com/Oculus/DeleteFragment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocument">
      <soap12:operation soapAction="https://www.gijima.com/Oculus/GetDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFragment">
      <soap12:operation soapAction="https://www.gijima.com/Oculus/GetFragment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFragments">
      <soap12:operation soapAction="https://www.gijima.com/Oculus/GetFragments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFragmentData">
      <soap12:operation soapAction="https://www.gijima.com/Oculus/GetFragmentData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestDocumentFull">
      <soap12:operation soapAction="https://www.gijima.com/Oculus/RequestDocumentFull" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateDocument">
      <soap12:operation soapAction="https://www.gijima.com/Oculus/ValidateDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessIndexingEvent">
      <soap12:operation soapAction="https://www.gijima.com/Oculus/ProcessIndexingEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Queue">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Contains methods for accessing queues</wsdl:documentation>
    <wsdl:port name="QueueSoap" binding="tns:QueueSoap">
      <soap:address location="https://oculus.mibfa.co.za/Oculus/Services/Queue.asmx" />
    </wsdl:port>
    <wsdl:port name="QueueSoap12" binding="tns:QueueSoap12">
      <soap12:address location="https://oculus.mibfa.co.za/Oculus/Services/Queue.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>