Mibfa.OCR.Service.Library/Web References/wsSecurity/Security.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:tns="https://www.gijima.com/Oculus" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="https://www.gijima.com/Oculus" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Contains methods for interacting with Oculus security</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://www.gijima.com/Oculus">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="ConvertSID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConvertSIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ConvertSIDResult" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginResult" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginFailReason">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginFailReasonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginFailReasonResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginAndChangePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="oldpassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newpassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginAndChangePasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginAndChangePasswordResult" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginAndChangePasswordFailReason">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="oldpassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newpassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginAndChangePasswordFailReasonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginAndChangePasswordFailReasonResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Logout">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sessionId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogoutResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetSessionInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSessionInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSessionInfoResult" type="tns:SessionInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SessionInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SessionId" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s1:guid" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetGrantedObjectNames">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sessionId" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="typeName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rightName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGrantedObjectNamesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGrantedObjectNamesResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetGrantedObjectIds">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sessionId" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="typeName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rightName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGrantedObjectIdsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGrantedObjectIdsResult" type="tns:ArrayOfGuid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfGuid">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="guid" type="s1:guid" />
        </s:sequence>
      </s:complexType>
      <s:element name="HasAccessByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sessionId" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="objectName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="typeName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rightName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HasAccessByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="HasAccessByNameResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HasAccessById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sessionId" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="targetId" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="rightName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HasAccessByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="HasAccessByIdResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUsers">
        <s:complexType />
      </s:element>
      <s:element name="GetUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUsersResult" type="tns:ArrayOfUserInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUserInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UserInfo" nillable="true" type="tns:UserInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UserInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="LastLogon" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="PassCreated" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="FetchClientBrandImage">
        <s:complexType />
      </s:element>
      <s:element name="FetchClientBrandImageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FetchClientBrandImageResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FetchGroupBrandImage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FetchGroupBrandImageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FetchGroupBrandImageResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConvertSIDSoapIn">
    <wsdl:part name="parameters" element="tns:ConvertSID" />
  </wsdl:message>
  <wsdl:message name="ConvertSIDSoapOut">
    <wsdl:part name="parameters" element="tns:ConvertSIDResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="LoginFailReasonSoapIn">
    <wsdl:part name="parameters" element="tns:LoginFailReason" />
  </wsdl:message>
  <wsdl:message name="LoginFailReasonSoapOut">
    <wsdl:part name="parameters" element="tns:LoginFailReasonResponse" />
  </wsdl:message>
  <wsdl:message name="LoginAndChangePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:LoginAndChangePassword" />
  </wsdl:message>
  <wsdl:message name="LoginAndChangePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:LoginAndChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="LoginAndChangePasswordFailReasonSoapIn">
    <wsdl:part name="parameters" element="tns:LoginAndChangePasswordFailReason" />
  </wsdl:message>
  <wsdl:message name="LoginAndChangePasswordFailReasonSoapOut">
    <wsdl:part name="parameters" element="tns:LoginAndChangePasswordFailReasonResponse" />
  </wsdl:message>
  <wsdl:message name="LogoutSoapIn">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="LogoutSoapOut">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="GetSessionInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetSessionInfo" />
  </wsdl:message>
  <wsdl:message name="GetSessionInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetSessionInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetGrantedObjectNamesSoapIn">
    <wsdl:part name="parameters" element="tns:GetGrantedObjectNames" />
  </wsdl:message>
  <wsdl:message name="GetGrantedObjectNamesSoapOut">
    <wsdl:part name="parameters" element="tns:GetGrantedObjectNamesResponse" />
  </wsdl:message>
  <wsdl:message name="GetGrantedObjectIdsSoapIn">
    <wsdl:part name="parameters" element="tns:GetGrantedObjectIds" />
  </wsdl:message>
  <wsdl:message name="GetGrantedObjectIdsSoapOut">
    <wsdl:part name="parameters" element="tns:GetGrantedObjectIdsResponse" />
  </wsdl:message>
  <wsdl:message name="HasAccessByNameSoapIn">
    <wsdl:part name="parameters" element="tns:HasAccessByName" />
  </wsdl:message>
  <wsdl:message name="HasAccessByNameSoapOut">
    <wsdl:part name="parameters" element="tns:HasAccessByNameResponse" />
  </wsdl:message>
  <wsdl:message name="HasAccessByIdSoapIn">
    <wsdl:part name="parameters" element="tns:HasAccessById" />
  </wsdl:message>
  <wsdl:message name="HasAccessByIdSoapOut">
    <wsdl:part name="parameters" element="tns:HasAccessByIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetUsersSoapIn">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="GetUsersSoapOut">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="FetchClientBrandImageSoapIn">
    <wsdl:part name="parameters" element="tns:FetchClientBrandImage" />
  </wsdl:message>
  <wsdl:message name="FetchClientBrandImageSoapOut">
    <wsdl:part name="parameters" element="tns:FetchClientBrandImageResponse" />
  </wsdl:message>
  <wsdl:message name="FetchGroupBrandImageSoapIn">
    <wsdl:part name="parameters" element="tns:FetchGroupBrandImage" />
  </wsdl:message>
  <wsdl:message name="FetchGroupBrandImageSoapOut">
    <wsdl:part name="parameters" element="tns:FetchGroupBrandImageResponse" />
  </wsdl:message>
  <wsdl:portType name="SecuritySoap">
    <wsdl:operation name="ConvertSID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Converts a session ID from string to GUID format, a drawback of using the LoginFailReason method</wsdl:documentation>
      <wsdl:input message="tns:ConvertSIDSoapIn" />
      <wsdl:output message="tns:ConvertSIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Logs into security, raises an exception if incorrect, returns the session id</wsdl:documentation>
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginFailReason">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retries login into security, returns the error reason</wsdl:documentation>
      <wsdl:input message="tns:LoginFailReasonSoapIn" />
      <wsdl:output message="tns:LoginFailReasonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginAndChangePassword">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Logs into security, changes password, raises an exception if incorrect, returns the session id</wsdl:documentation>
      <wsdl:input message="tns:LoginAndChangePasswordSoapIn" />
      <wsdl:output message="tns:LoginAndChangePasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginAndChangePasswordFailReason">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retries login into security, changing password, returns the error reason</wsdl:documentation>
      <wsdl:input message="tns:LoginAndChangePasswordFailReasonSoapIn" />
      <wsdl:output message="tns:LoginAndChangePasswordFailReasonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Ends the session for the specified id</wsdl:documentation>
      <wsdl:input message="tns:LogoutSoapIn" />
      <wsdl:output message="tns:LogoutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSessionInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrieves full session information for the specified id, or null if the id is invalid</wsdl:documentation>
      <wsdl:input message="tns:GetSessionInfoSoapIn" />
      <wsdl:output message="tns:GetSessionInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGrantedObjectNames">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Fetches a list of objects to which the user has access of the specified type against the specified right</wsdl:documentation>
      <wsdl:input message="tns:GetGrantedObjectNamesSoapIn" />
      <wsdl:output message="tns:GetGrantedObjectNamesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGrantedObjectIds">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Fetches a list of objects to which the user has access of the specified type against the specified right</wsdl:documentation>
      <wsdl:input message="tns:GetGrantedObjectIdsSoapIn" />
      <wsdl:output message="tns:GetGrantedObjectIdsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HasAccessByName">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets whether or not the user has access to the object with the specified name of the specified type against the specified right</wsdl:documentation>
      <wsdl:input message="tns:HasAccessByNameSoapIn" />
      <wsdl:output message="tns:HasAccessByNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HasAccessById">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets whether or not the user has access to the object id against the specified right</wsdl:documentation>
      <wsdl:input message="tns:HasAccessByIdSoapIn" />
      <wsdl:output message="tns:HasAccessByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a list of all users in the system</wsdl:documentation>
      <wsdl:input message="tns:GetUsersSoapIn" />
      <wsdl:output message="tns:GetUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FetchClientBrandImage">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets whether or not the user has access to the object id against the specified right</wsdl:documentation>
      <wsdl:input message="tns:FetchClientBrandImageSoapIn" />
      <wsdl:output message="tns:FetchClientBrandImageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FetchGroupBrandImage">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets whether or not the user has access to the object id against the specified right</wsdl:documentation>
      <wsdl:input message="tns:FetchGroupBrandImageSoapIn" />
      <wsdl:output message="tns:FetchGroupBrandImageSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SecuritySoap" type="tns:SecuritySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConvertSID">
      <soap:operation soapAction="https://www.gijima.com/Oculus/ConvertSID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="https://www.gijima.com/Oculus/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginFailReason">
      <soap:operation soapAction="https://www.gijima.com/Oculus/LoginFailReason" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginAndChangePassword">
      <soap:operation soapAction="https://www.gijima.com/Oculus/LoginAndChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginAndChangePasswordFailReason">
      <soap:operation soapAction="https://www.gijima.com/Oculus/LoginAndChangePasswordFailReason" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="https://www.gijima.com/Oculus/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSessionInfo">
      <soap:operation soapAction="https://www.gijima.com/Oculus/GetSessionInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGrantedObjectNames">
      <soap:operation soapAction="https://www.gijima.com/Oculus/GetGrantedObjectNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGrantedObjectIds">
      <soap:operation soapAction="https://www.gijima.com/Oculus/GetGrantedObjectIds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HasAccessByName">
      <soap:operation soapAction="https://www.gijima.com/Oculus/HasAccessByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HasAccessById">
      <soap:operation soapAction="https://www.gijima.com/Oculus/HasAccessById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="https://www.gijima.com/Oculus/GetUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchClientBrandImage">
      <soap:operation soapAction="https://www.gijima.com/Oculus/FetchClientBrandImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchGroupBrandImage">
      <soap:operation soapAction="https://www.gijima.com/Oculus/FetchGroupBrandImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SecuritySoap12" type="tns:SecuritySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConvertSID">
      <soap12:operation soapAction="https://www.gijima.com/Oculus/ConvertSID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="https://www.gijima.com/Oculus/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginFailReason">
      <soap12:operation soapAction="https://www.gijima.com/Oculus/LoginFailReason" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginAndChangePassword">
      <soap12:operation soapAction="https://www.gijima.com/Oculus/LoginAndChangePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginAndChangePasswordFailReason">
      <soap12:operation soapAction="https://www.gijima.com/Oculus/LoginAndChangePasswordFailReason" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap12:operation soapAction="https://www.gijima.com/Oculus/Logout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSessionInfo">
      <soap12:operation soapAction="https://www.gijima.com/Oculus/GetSessionInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGrantedObjectNames">
      <soap12:operation soapAction="https://www.gijima.com/Oculus/GetGrantedObjectNames" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGrantedObjectIds">
      <soap12:operation soapAction="https://www.gijima.com/Oculus/GetGrantedObjectIds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HasAccessByName">
      <soap12:operation soapAction="https://www.gijima.com/Oculus/HasAccessByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HasAccessById">
      <soap12:operation soapAction="https://www.gijima.com/Oculus/HasAccessById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap12:operation soapAction="https://www.gijima.com/Oculus/GetUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchClientBrandImage">
      <soap12:operation soapAction="https://www.gijima.com/Oculus/FetchClientBrandImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchGroupBrandImage">
      <soap12:operation soapAction="https://www.gijima.com/Oculus/FetchGroupBrandImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Security">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Contains methods for interacting with Oculus security</wsdl:documentation>
    <wsdl:port name="SecuritySoap" binding="tns:SecuritySoap">
      <soap:address location="https://oculus.mibfa.co.za/Oculus/Services/Security.asmx" />
    </wsdl:port>
    <wsdl:port name="SecuritySoap12" binding="tns:SecuritySoap12">
      <soap12:address location="https://oculus.mibfa.co.za/Oculus/Services/Security.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>